@use "variables" as v;

form {
    background-color: #0085C1;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.formulario{
    display: grid;
    grid-template-areas:
    "a a b b b"
    "c c b b b"
    "d d b b b"
    "e e b b b"
    "f f b b b"
    ;
    margin-left: 6%;
    margin-right: 6%;
}
form input{
    display: grid;
    width: 100%;
}
form textarea {
    width: 100%;
    height: 79%;
    border-radius: 5px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
}
.boton-enviar{
    text-decoration: none;
    padding: 7.8px 25px;
    font-size: 18px;
    background-color: #fff;
    color: #0085C1;
    border: 0;
    border-radius: 10px;
    margin-top: 15px;
}
.ubicacion{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.a{
    grid-area: a;
    padding: 10px;
}
.b{
    grid-area: b;
    padding: 10px;
}
.c{
    grid-area: c;
    padding: 10px;
}
.d{
    grid-area: d;
    padding: 10px;
}
.e{
    grid-area: e;
    padding: 10px;
}
.f{
    grid-area: f;
    padding: 10px;
}
.titulo-seccion{
    font-size: 38px;
    background-color: #0085C1;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}