@use "variables" as v;

form {
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
    input{
    display: grid;
    width: 100%;
    }:focus{
        box-shadow: 0 0 0 .25rem rgba($color: v.$color-secundario, $alpha: .25);
    }
    textarea {
    width: 100%;
    height: 79%;
    border-radius: 5px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    }
}
.formulario{
    display: grid;
    grid-template-areas:
    "a a b b b"
    "c c b b b"
    "d d b b b"
    "e e b b b"
    "f f b b b"
    ;
    margin-left: 6%;
    margin-right: 6%;
    input:focus{
        box-shadow: 0px 0px 10px 10px v.$color-terciario;
    }
    textarea:focus{
        box-shadow: 0px 0px 10px 10px v.$color-terciario;
    }
    .a{
        grid-area: a;
        padding: 10px;
    }
    .b{
        grid-area: b;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        .boton-enviar{
        width: 150px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        background-color: v.$color-primario;
        color: v.$background-primario;
        border: 0;
        border-radius: 10px;
        padding-right: 0;
        padding-left: 0;
        margin-top: 18px;
        }
        .boton-enviar:hover{
        box-shadow: 0px 0px 10px 10px v.$color-terciario;
        color: v.$color-primario;
        background: v.$background-primario;
        background: linear-gradient(0deg, v.$background-primario 0%, v.$color-terciario 50%, v.$background-primario 100%);
        transform: scale(1.1);
        border: none;
        }
    }
    .c{
        grid-area: c;
        padding: 10px;
    }
    .d{
        grid-area: d;
        padding: 10px;
    }
    .e{
        grid-area: e;
        padding: 10px;
    }
    .f{
        grid-area: f;
        padding: 10px;
    }
}
.titulo-seccion{
    font-size: 38px;
    background-color: v.$background-terciario;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}
.ubicacion{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 430px){
    .formulario{
        display: grid;
        margin: auto;
        padding: 2px 2px 40px 2px;
        grid-template-areas:
        "a a c c"
        "d d e e"
        "b b b b"
        "b b b b"
        ;
    }
    .a{
        grid-area: a;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .b{
        grid-area: b;
        padding: 5px;
        height: 250px;
        input{
            border-radius: 5px !important;
        }
    }
    .c{
        grid-area: c;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .d{
        grid-area: d;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .e{
        grid-area: e;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .f{
        display: none;
    }
}
@media (min-width: 431px) and (max-width: 800px){
    .formulario{
        display: grid;
        margin: auto;
        padding: 2px 2px 40px 2px;
        grid-template-areas:
        "a a c c"
        "d d e e"
        "b b b b"
        "b b b b"
        ;
    }
    .a{
        grid-area: a;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .b{
        grid-area: b;
        padding: 5px;
        height: 250px;
        input{
            border-radius: 5px !important;
        }
    }
    .c{
        grid-area: c;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .d{
        grid-area: d;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .e{
        grid-area: e;
        padding: 5px;
        input{
            border-radius: 5px !important;
        }
    }
    .f{
        display: none;
    }
}
