@use "variables" as v;

footer {
    text-align: center;
    background-color: v.$background-primario;
    color: v.$color-primario;
    section{
        .boletin-footer {
            background-color: v.$color-primario;
            color: v.$background-primario;
            display: flex;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 10px;
        }
        h2{
        margin-top: 20px;
        }
    }
}
footer ul li {
    list-style: none;
    display: inline;
}
footer ul li a{
    margin: 8px;
    text-decoration: none;
}
footer input{
    border: 1px solid #333;
}
.boton-boletin{
    text-decoration: none;
    padding: 7.8px 25px;
    font-size: 18px;
    position: relative;
    background-color: v.$background-primario;
    color: v.$color-primario;
    border: 0;
    border-radius: 10px;
}
.boton-boletin:hover{
    transform: scale(1.1);
}
.redes-footer {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 15px;
}
.derechos h3{
    font-family: "Roboto Flex", sans-serif;
    font-size: 18px;
    position: absolute;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 0;
}
.img-footer{
    height: 250px;
    width: auto;
}
.boton-whatsapp{
    width: 70px;
    height: auto;
    position: fixed;
    right: 40px;
    bottom: 80px;
    transition: ease-in-out 0.3s;
}
.boton-whatsapp:hover{
    transform: scale(1.1);
}
@media (min-width: 320px) and (max-width: 430px){
    .img-footer{
        width: 60%;
        height: auto;
    }
    .derechos h3 {
        margin-top: 10px;
        font-size: 12px;
    }
    .boton-whatsapp{
        position: fixed;
        width: 50px;
        height: auto;
        left: 5vh;
        bottom: 5vh;
    }
    .redes-footer{
        display: flex;
        justify-content: center;
    }

}