@use "variables" as v;

footer {
    text-align: center;
    background-image: v.$gradient-1;
    color: v.$color-primario;
    section{
        .boletin-footer {
            background-color: v.$color-primario;
            color: v.$background-terciario;
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 10px;
            .boton-boletin{
                font-size: 18px;
                margin-right: 12px;
                background-image: v.$gradient-2;
                color: v.$color-primario;
            }
        }
        h2{
        margin-top: 12px;
        text-shadow: 0px 0px 27px v.$background-primario;
        }
        h3{
            font-size: 20px;
            margin-left: 12px;
            color: v.$background-secundario;
        }
        input{
            padding-right: 0;
            font-size: 18px;
            border-color: v.$background-secundario;
        }:focus{
        border-color: v.$color-primario;
        box-shadow: 0px 0px 10px 5px v.$color-terciario;
        }
    }
}
footer ul li {
    list-style: none;
    display: inline;
}
footer ul li a{
    margin: 8px;
    text-decoration: none;
}
footer input{
    border: 1px solid #333;
}
.boton-boletin{
    text-decoration: none;
    padding: 7.8px 25px;
    font-size: 18px;
    position: relative;
    background-color: v.$background-primario;
    color: v.$color-primario;
    border: 0;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}
.boton-boletin:hover{
    transform: scale(1.1);
}
.contenedor-tarjetas{
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
    align-items: center;
    .tarjetas-slide{
        display: flex;
        gap: 80px;
        margin: 0 40px;
        animation: scroll 12s linear infinite;
        img{
            height: 60px;
            width: auto;
            transition: 0.3s ease-in-out;
        }
    }
}
@keyframes scroll {
0% {
    transform: translateX(0)
}
100% {
    transform: translateX(-100%)
}
}
.redes-footer {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 15px;
}
.derechos h3{
    font-family: "Roboto Flex", sans-serif;
    font-size: 18px;
    position: absolute;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 0;
    color: v.$color-primario;
}
.img-footer{
    height: 250px;
    width: auto;
}
.boton-whatsapp{
    width: 70px;
    height: auto;
    position: fixed;
    right: 40px;
    bottom: 80px;
    transition: ease-in-out 0.3s;
}
.boton-whatsapp:hover{
    transform: scale(1.1);
}
@media (min-width: 320px) and (max-width: 430px){
    .boletin-footer{
        h3{
            font-size: 12px;
        }
        input{
            font-size: 12px;
        }
    }
    .img-footer{
        width: 60%;
        height: auto;
    }
    .derechos h3 {
        width: 100%;
        margin: 20px 0 10px 0;
        font-size: 12px;
        text-align: center;

    }
    .boton-whatsapp{
        position: fixed;
        width: 50px;
        height: auto;
        left: 5vh;
        bottom: 5vh;
    }
    .redes-footer{
        display: flex;
        justify-content: center;
    }

}
@media (min-width: 431px) and (max-width: 800px){
    .boletin-footer{
        margin: auto;
        h3{
            font-size: 15px;
        }
        input{
            font-size: 15px;
        }
    }
    .contenedor-tarjetas{
        .tarjetas-slide{
            img{
                height: 40px;
            }
        }
    }
    .redes-footer{
        display: flex;
        justify-content: center;
    }
    .img-footer{
        width: 60%;
        height: auto;
    }
    .derechos h3{
        width: 100%;
        margin: 20px 0 10px 0;
        font-size: 14px;
        text-align: center;
    }
    .boton-whatsapp{
        position: fixed;
        width: 50px;
        height: auto;
        left: 5vh;
        bottom: 5vh;
    }
}