@use "variables" as v;

header {
    font-family: v.$fuente;
    display: flex;
    background-image: v.$gradient-1;
    color: v.$color-primario;
    .header1 {
        width: 85%;
    }
    .header2 {
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
        nav ul {
            list-style: none;
            text-align: center;
        }
        .contenedor-redes{
            li{
                display: inline;
                list-style: none;
            }
            ul{
                margin: 0;
                padding: 0;
            }
        }
    }
}
.dropdown-item {
    font-size: 28px;
    color: v.$color-primario;
}
.dropdown-item:hover {
    font-size: 30px;
    color: v.$color-primario;
    background-color: v.$background-terciario;
    border-radius: 5px;
}
.navbar-nav .dropdown-menu {
    background-color: v.$background-primario;
    border: 0;
}
.container-fluid{
    height: 90px;
    width: 100%;
    padding-left: 50px;
    .logo-header{
        height: 130px;
        width: auto;
        padding-top: 15px;
    }.logo-header:hover{
        transform: scale(1.2);
    }
}
.collapse{
    font-size: 20px;
    height: 50px;
    margin-right: 15px;
}
.navbar{
    background-image: v.$gradient-1;
    padding: 0;
    margin: 0;
}
.navbar-nav{
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
    color: #e7e7e7;
    border-bottom: 2px solid v.$color-primario;
    border-radius: 5px;
    padding-bottom: 24px;
    height: 44px;
    display: flex;
    align-items: center;
}
.nav-link{
    color: #e7e7e7;
    border-radius: 6px;
}
.nav-link:hover{
    box-shadow: 0px 0px 30px 20px #450463;
    background: #690587;
    background: linear-gradient(0deg, rgba(105, 5, 135, 1) 0%, rgba(72, 6, 92, 1) 50%, rgba(105, 5, 135, 1) 100%);
    color: v.$color-primario;
}
.nav-link:focus{
    background-color: #e7e7e7;
    color: v.$color-secundario;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: v.$color-primario;
}
.d-flex{
    border-radius: 10px;
    padding: 0;
    margin: 0;
    .btn{
        color: v.$color-primario;
        background-color: v.$gradient-1;
        border: 2px solid v.$color-primario;
        font-weight: bold;
    }.btn:hover{
        box-shadow: 0px 0px 30px 20px #450463;
        color: v.$color-primario;
        background: #690587;
        background: linear-gradient(0deg, rgba(105, 5, 135, 1) 0%, rgba(72, 6, 92, 1) 50%, rgba(105, 5, 135, 1) 100%);
        transform: scale(1.1);
        border: none;
    }
    .form-control:focus{
        border-color: v.$background-secundario;
        box-shadow: 0px 0px 20px 20px #450463;
    }
}
.contenedor-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.redes{
    height: auto;
    width: 29px;
}
.redes:hover{
    transform: scale(1.2);
}
input {
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
}
header nav ul li {
    margin: 15px 25px 0 0;
}
header nav ul li a {
    color: v.$color-primario;
    text-decoration: none;
    font-size: 28px;
}
header ul li a {
    margin: 8px;
    color: v.$color-primario;
    text-decoration: none;
    font-size: 20px;
}
.link-menu:hover{
    color: v.$background-primario;
    background-color: #e7e7e7;
    border-radius: 8px;
    padding: 8px;
    transform: scale(2);
}
@media (min-width: 320px) and (max-width: 430px){
    header {
        display: flex;
        background-color: v.$background-primario;
        position: relative;
        .form-control{
            display: none;
        }
        .btn{
            display: none;
        }
        .navbar-toggler{
            position: absolute;
        }
        nav{
            ul{
                li{
                    margin: 0;
                }
            }
        }
    }
    .header1{
        margin: auto;
    }
    .header2{
        display: none !important;
    }
    .navbar{
        .container-fluid{
            flex-wrap: unset;
            padding-left: 0;
            .logo-header{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                .logo-header:hover{
                        transform: scale(1);
                    }
            }
        }
    }
    .navbar-nav{
        margin-top: 50px;
        background-color: v.$background-primario;
        height: auto;
        border-radius: 8px;
        position: absolute;
        z-index: 3;
        align-items: unset;
    }
    .nav-link{
        font-size: 28px;
        font-weight: 500;
        color: v.$color-primario;
        padding: 0 100px;
    }
    .contenedor-redes {
        display: none;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-header{
        grid-area: 3;
    }
}
@media (min-width: 431px) and (max-width: 800px){
    header{
        display: flex;
        background-color: v.$background-primario;
        position: relative;
        .form-control{
            display: none;
        }
        .btn{
            display: none;
        }
        .navbar-toggler{
            position: absolute;
        }
        nav{
            ul{
                li{
                    margin: 0;
                }
            }
        }
    }
    .header1{
        margin: auto;
    }
    .header2{
        display: none !important;
    }
    .navbar{
        .container-fluid{
            flex-wrap: unset;
            padding-left: 0;
            .logo-header{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                .logo-header:hover{
                        transform: scale(1);
                    }
            }
        }
    }
    .navbar-nav{
        margin-top: 50px;
        background-color: v.$background-primario;
        height: auto;
        border-radius: 8px;
        position: absolute;
        z-index: 3;
        align-items: unset;
    }
    .nav-link{
        font-size: 28px;
        font-weight: 500;
        color: v.$color-primario;
        padding: 0 100px;
    }
    .contenedor-redes{
        display: none;
    }
    .logo-header{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-header:hover{
            transform: scale(1);
        }
    .navbar-brand{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}