@use "variables" as v;

.contenedor-destacados{
    width: 100%;
    .carta {
        background-color: v.$color-primario;
        width: calc(100%/5);
        height: auto;
        border-radius: 10px;
        margin: 0 10px;
        box-shadow: 5px 5px 10px 2px #666666;
        transition: ease-in-out 0.3s;
        img{
        width: 85%;
        height: 65%;
        object-fit: contain;
        border-bottom: solid 2px v.$color-secundario;
        transition: ease-in-out 0.3s;
        }
        img:hover{
        transform: scale(1);
        }
        h2{
        color: v.$color-secundario;
        padding: 15px 0 15px 0;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 0;
        }
        a{
        color: v.$color-primario;
        text-decoration: none;
        input{
            text-decoration: none;
            padding: 7.8px 25px;
            margin-bottom: 20px;
            font-size: 18px;
            background-image: v.$gradient-2;
            color: v.$color-primario;
            border: 0;
            border-radius: 10px;
        }input:hover{
            transform: scale(1.1);
            }
        }
    }.carta:hover{
        transform: scale(1.1);
    }
}
main {
    background-color: v.$background-secundario;
    color: v.$color-primario;
    text-align: center;
    padding: 20px;
    h1{
    font-size: 50px;
    color: v.$color-primario;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #666666;
    margin-bottom: 20px;
    }
}
.primer-titulo{
    margin-top: 60px !important;
}
.titulo-seccion{
    font-size: 38px;
    background-color: v.$gradient-1;
    border-radius: 8px;
    margin: 30px 35%;
    padding: 5px 0;
}
.carousel, .slide {
    width: 90%;
    margin: auto;
}
.producto-destacado{
    display: flex;
    margin: 20px;
}
.carousel-inner{
    border-radius: 10px;
    .inicio-carrusel{
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}

@media (min-width: 320px) and (max-width: 430px){
    main{
        .carousel-inner{
            .inicio-carrusel{
                width: 100%;
                height: auto;
            }
        }
        .carta{
            width: auto !important;
            a h2{
            text-transform: capitalize;
            }
        }
        h1{
            font-size: 25px !important;
        }
        .titulo-seccion {
            font-size: 18px !important;
        }
        input{
            border-radius: 0 0 10px 10px !important;
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    main{
        .carousel-inner{
            .inicio-carrusel{
                width: 100%;
                height: auto;
            }
        }
        input{
            border-radius: 0 0 10px 10px !important;
        }
        .carta{
            width: auto !important;
            a h2{
            text-transform: capitalize;
            }
        }
        h1{
            font-size: 25px !important;
        }
        .titulo-seccion {
            font-size: 18px !important;
        }
    }
}