@use "variables" as v;

.contenedor-destacados{
    width: 100%;
    .carta {
        @include v.flex(flex, center, center);
        flex-direction: column;
        background-color: v.$color-primario;
        width: calc(100%/5);
        height: auto;
        border-radius: 10px;
        margin: 0 10px;
        box-shadow: 5px 5px 10px 2px #666666;
        transition: ease-in-out 0.3s;
        img{
        width: 85%;
        height: 65%;
        object-fit: contain;
        border-bottom: solid 2px v.$color-secundario;
        transition: ease-in-out 0.3s;
        }
        img:hover{
        transform: scale(1);
        }
        h2{
        color: v.$color-secundario;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        margin: auto;
        margin-top: 15px;
        padding: 5px 5px 15px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
        height: 40px;
        }
        a{
        color: v.$color-primario;
        text-decoration: none;
        input{
            text-decoration: none;
            padding: 7.8px 50px;
            margin-bottom: 0;
            font-size: 18px;
            background-image: v.$gradient-2;
            color: v.$color-primario;
            border: 0;
            border-radius: 10px 10px 0 0;
            transition: ease-in-out .3s;
        }input:hover{
            transform: scale(1.1);
            }
        }
    }.carta:hover{
        transform: scale(1.1);
    }
}
main {
    background-color: v.$background-secundario;
    color: v.$color-primario;
    text-align: center;
    h1{
    font-size: 50px;
    color: v.$color-primario;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #666666;
    margin-bottom: 20px;
    }
}
.primer-titulo{
    margin-top: 60px;
}
.titulo-seccion{
    font-size: 38px;
    background-color: v.$gradient-1;
    border-radius: 8px;
    margin: 30px 35%;
    padding: 5px 0;
}
.carousel, .slide {
    width: 90%;
    margin: auto;
}
.producto-destacado{
    display: flex;
    margin: 20px;
}
.carousel-inner{
    border-radius: 10px;
    .inicio-carrusel{
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}

@media (min-width: 320px) and (max-width: 430px){
    main{
        .carousel-inner{
            .inicio-carrusel{
                width: 100%;
                height: auto;
            }
            .carousel-item{
                .producto-destacado{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    overflow: hidden;
                    width: 100%;
                    justify-content: center;
                }
            }
        }
        .carta{
            width: auto !important;
            a h2{
            text-transform: uppercase;
            }
        }
        h1{
            font-size: 25px !important;
        }
        .titulo-seccion {
            font-size: 18px !important;
            margin: 0 50px;
            margin-top: 30px;
            text-align: center;
        }
        .primer-titulo{
            margin-top: 20px;
        }
        input{
            border-radius: 10px !important;
        }
        .contenedor-destacados{
            .carta{
                width: auto !important;
                height: 100%;
                padding-bottom: 15px;
                h2{
                    padding: 2px 5px 10px 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 150px;
                    height: 40px;
                }
                a h2{
                text-transform: capitalize;
                }
                a input{
                    padding: 6px 20px;
                    margin: 2px 0;
                    border: 0;
                }
            }
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    main{
        .carousel-inner{
            .inicio-carrusel{
                width: 100%;
                height: auto;
            }
            .producto-destacado{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                overflow: hidden;
                width: 100%;
                justify-content: center;
                align-items: end;
            }
        }
        input{
            border-radius: 10px !important;
        }
        .contenedor-destacados{
            .carta{
                width: auto !important;
                height: 100%;
                padding-bottom: 15px;
                h2{
                    padding: 2px 5px 10px 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 150px;
                    height: 40px;
                }
                a h2{
                text-transform: capitalize;
                }
                a input{
                    padding: 6px 20px;
                    margin: 2px 0;
                    border: 0;
                }
            }
            .carta:hover{
                transform: scale(1.0);
            }
        }
        h1{
            font-size: 25px !important;
        }
        .titulo-seccion {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px !important;
            margin: 30px 100px 10px 100px;
            text-align: center;
        }
        .primer-titulo{
            margin-top: 20px;
        }
    }
}