@use "variables" as v;

.titulo-seccion{
    font-size: 38px;
    background-color: v.$background-primario;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}
.carousel, .slide {
    width: 90%;
    margin: auto;
}
.producto-destacado{
    display: flex;
    margin: 20px;
}
.carta {
    background-color: #e7e7e7;
    width: calc(100%/5);
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 5px 5px 10px 2px #666666;
}
.carta img {
    width: 85%;
    height: 65%;
    object-fit: contain;
    border-bottom: solid 2px #171717;
    transition: ease-in-out 0.3s;
}
.carta img:hover{
    transform: scale(1.1);
}
.carta a{
    color: #171717;
    text-decoration: none;
}
.carta a h2{
    padding: 15px 0 15px 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.carta input{
    text-decoration: none;
    padding: 7.8px 25px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: v.$background-primario;
    color: v.$color-primario;
    border: 0;
    border-radius: 10px;
}
.carta input:hover{
    transform: scale(1.1);
}
.carta-tienda {
    width: calc(100%/6);
}
.carta a h2 {
    margin-top: 0;
}
.contenedor-destacados{
    width: 100%;
}