@use "variables" as v;

.titulo-ofertas{
    font-size: 38px;
    background-color: v.$background-terciario;
    border-radius: 8px;
    margin: 0 22%;
    padding: 5px 0;
}
.carousel, .slide {
    width: 90%;
    margin: auto;
}
.slide-ofertas{
    width: 100%;
}
.carrusel-ofertas{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.indicador-ofertas{
    display: none;
}
.next-ofertas{
    justify-content: end;
    width: unset;
    .carousel-control-next-icon{
        background-color: black;
        border-radius: 8px;
    }
}
.prev-ofertas{
    justify-content: start;
    width: unset;
    .carousel-control-prev-icon{
        background-color: black;
        border-radius: 8px;
    }
}
.producto-destacado{
    display: flex;
    margin: 20px;
}
.carta {
    position: relative;
    background-color: v.$color-primario;
    width: calc(100%/5);
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 5px 5px 10px 2px #666666;
    img {
        width: 85%;
        height: 65%;
        object-fit: contain;
        border-bottom: solid 2px v.$color-secundario;
        transition: ease-in-out 0.3s;
    }img:hover{
        transform: scale(1.1);
    }
    a{
        color: v.$color-secundario;
        text-decoration: none;
        h2{
            padding: 12px 0 20px 0;
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
    input{
        position: relative;
        text-decoration: none;
        padding: 7.8px 25px;
        margin-bottom: 40px;
        font-size: 18px;
        background-color: v.$background-primario;
        color: v.$color-primario;
        border: 0;
        border-radius: 10px;
        .input-carta{
            position: absolute;
            top: 88%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }input:hover{
        transform: scale(1.1);
    }
}
.carta-tienda {
    width: calc(100%/6);
}
.contenedor-destacados{
    width: 100%;
}