@use "variables" as v;

.titulo-ofertas{
    font-size: 38px;
    background-image: v.$gradient-1;
    box-shadow: 0px 0px 53px 0px v.$color-terciario;
    border-radius: 8px;
    margin: 0 35%;
    padding: 5px 0;
}
.carousel, .slide {
    width: 90%;
    margin: auto;
}
.slide-ofertas{
    width: 100%;
}
.carrusel-ofertas{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.indicador-ofertas{
    display: none;
}
.next-ofertas{
    justify-content: start;
    width: 50px;
    .carousel-control-next-icon{
        border-radius: 8px;
    }
}
.prev-ofertas{
    justify-content: end;
    width: 50px;
    .carousel-control-prev-icon{
        border-radius: 8px;
    }
}
.producto-destacado{
    display: flex;
    margin: 20px 0;
}
.detacados{
    display: flex;
    margin: 20px 0;
}
.oferta-destacada{
    background-color: v.$color-primario;
    border-radius: 10px;
    width: 90%;
    display: flex;
    text-align: left;
    margin: 30px auto;
    img{
        object-fit: contain;
        width: 350px;
        height: auto;
        border-radius: 9px 0 0 9px;
        margin-right: 20px;
        padding: 20px 0;
    }
    h2{
        color: v.$color-secundario;
        text-align: left;
        padding-top: 20px;
    }
    a{
        margin: auto 10px 5px 30px;
        color: v.$color-secundario;
        .material-symbols-outlined {
            transition: ease-in-out .4s;
            font-size: 90px;
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
        .material-symbols-outlined:hover{
            transform: scale(1.4);
        }
    }
    p{
        color: v.$color-secundario;
        padding: 20px 30px 20px 0;
    }
    div{
        flex-direction: column;
    }
}
.carta {
    position: relative;
    background-color: v.$color-primario;
    width: calc(100%/5);
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 5px 5px 10px 2px #666666;
    img {
        width: 85%;
        height: 65%;
        object-fit: contain;
        border-bottom: solid 2px v.$color-secundario;
        transition: ease-in-out 0.3s;
    }
    a{
        color: v.$color-secundario;
        text-decoration: none;
        h2{
            padding: 18px 0 20px 0;
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
    input{
        position: relative;
        text-decoration: none;
        padding: 7.8px 25px;
        margin-bottom: 40px;
        font-size: 18px;
        background-image: v.$gradient-2;
        color: v.$color-primario;
        border: 0;
        border-radius: 10px;
        .input-carta{
            position: absolute;
            top: 88%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }input:hover{
        transform: scale(1.1);
    }
}
.carta-tienda {
    width: calc(100%/6);
}
.contenedor-destacados{
    width: 100%;
}
@media (min-width: 320px) and (max-width: 430px){
    .titulo-ofertas{
        margin: 0 25%;
        font-size: 18px;
    }
    .next-ofertas{
    justify-content: end;
    }
    .prev-ofertas{
        justify-content: start;
    }
    .oferta-destacada{
        @include v.flex(flex, center, center);
        flex-direction: column;
        img{
            width: 70%;
            margin: 0;
        }
        h2{
            padding: 0;
            text-align: center;
        }
        a{
            margin: 5px 5px 0 auto;
            .material-symbols-outlined{
                font-size: 50px;
            }
            .material-symbols-outlined:hover{
                transform: scale(1);
            }
        }
        p{
            text-align: justify;
            padding: 10px 20px 0 20px;
            margin: 0;
        }
        div{
            flex-direction: column;
        }
}
}
@media (min-width: 431px) and (max-width: 800px){
    .titulo-ofertas{
        font-size: 18px;
        margin: 0 25%;
    }
    .next-ofertas{
    justify-content: end;
    }
    .prev-ofertas{
        justify-content: start;
    }
    .oferta-destacada{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
            margin: 0;
        }
        h2{
            padding: 0;
            text-align: center;
        }
        a{
            margin: 5px 5px 0 auto;
            .material-symbols-outlined{
                font-size: 50px;
            }
            .material-symbols-outlined:hover{
                transform: scale(1);
            }
        }
        p{
            text-align: justify;
            padding: 10px 20px 0 20px;
            margin: 0;
        }
        div{
            flex-direction: column;
        }
}
}