@use "variables" as v;

.pagina-producto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: v.$color-primario;
    padding: 50px 0 50px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 2px #666666;
    margin-bottom: 25px;
    color: v.$color-secundario;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px; 
    }
    .p1{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: start;
        .precio-articulo{
            display: flex;
            margin: 20px 50px 40px 0;
            padding-bottom: 30px;
            padding-top: 30px;
            border-bottom: 2px solid v.$color-secundario;
            input{
                background-image: v.$gradient-2;
            }
        }
        h1{
            color: v.$color-secundario;
        }
        h2{
            color: v.$background-primario;
            margin-right: 50px;
        }
    }
    .p2{
        grid-column: 1/2;
        grid-row: 1/2;
        .imagen-producto{
            display: grid;
            grid-template-areas: 
            "a a a"
            "a a a"
            "a a a"
            "b c d"
            ;
            .hd1{
                grid-area: a;
                
            }
            .hd2{
                grid-area: b;
                
            }
            .hd3{
                grid-area: c;
                
            }
            .hd4{
                grid-area: d;
                
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 430px){
    .pagina-producto{
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
        .p1{
            .precio-articulo{
                margin: auto;
                padding-top: 5px;
                justify-content: center;
                align-items: center;
                input{
                    border-radius: 10px !important;
                }
            }
            h1{
                text-align: center;
                margin-top: 20px;
            }
            p{
                text-align: justify;
                padding: 10px 15px;
            }
            section{
                ul{
                    padding: 0;
                }
            }
        }
        .p2{
            .imagen-producto{
                img{
                    max-width: 90%;
                    margin: auto;
                }
            }
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    .pagina-producto{
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
        .p1{
            .precio-articulo{
                margin: auto;
                padding-top: 5px;
                justify-content: center;
                align-items: center;
                input{
                    border-radius: 10px !important;
                }
            }
            h1{
                text-align: center;
                margin-top: 20px;
            }
            p{
                text-align: justify;
                padding: 10px 15px;
            }
            section{
                ul{
                    padding: 0;
                }
            }
        }
        .p2{
            .imagen-producto{
                img{
                    max-width: 90%;
                    margin: auto;
                }
            }
        }
    }
}