@use "variables" as v;

.pagina-producto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: v.$color-primario;
    padding: 50px 0 50px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 2px #666666;
    margin-bottom: 25px;
    color: v.$color-secundario;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px; 
    }
    .p1{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: start;
        .precio-articulo{
            display: flex;
            margin: 20px 50px 40px 0;
            padding-bottom: 30px;
            padding-top: 30px;
            border-bottom: 2px solid v.$color-secundario;
        }
        h1{
            color: v.$color-secundario;
        }
        h2{
            color: v.$background-primario;
            margin-right: 50px;
        }
    }
    .p2{
        grid-column: 1/2;
        grid-row: 1/2;
        .imagen-producto{
            display: grid;
            grid-template-areas: 
            "a a a"
            "a a a"
            "a a a"
            "b c d"
            ;
            .hd1{
                grid-area: a;
                
            }
            .hd2{
                grid-area: b;
                
            }
            .hd3{
                grid-area: c;
                
            }
            .hd4{
                grid-area: d;
                
            }
        }
    }
}
