@use "variables" as v;

main{
    article{
        padding: 0 30px 30px 30px;
    }
}
.lista-preguntas {
    background-color: v.$background-primario;
    display: flex;
    padding: 20px 35px 5px 0;
    border-radius: 10px;
}
.collapse{
    height: auto;
}
.accordion-item{
    border: 0;
    background-color: v.$background-primario;
}
.accordion-body{
    background-color: v.$background-primario;
    color: v.$color-primario;
    text-align: justify;
}
.accordion-button{
    background-color: v.$background-primario;
    color: v.$color-primario;
    border-radius: 5px;
}.accordion-button:after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-color: v.$background-primario;
    color: antiquewhite;
}.accordion-button:not(.collapsed){
    background-color: v.$background-primario;
    color: v.$color-primario;
    font-size: 20px;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.preguntas-1{
    width: calc(100%/2);
}
.preguntas-2{
    width: calc(100%/2)
}
main section article div ul {
    list-style: none;
}
.titulo-seccion{
    font-size: 38px;
    background-image: v.$gradient-1;
    box-shadow: 0px 0px 53px 0px v.$color-terciario;
    border-radius: 8px;
    margin: 35px 35% 20px 35%;
    padding: 5px 0;
}
@media (min-width: 320px) and (max-width: 430px){
    .lista-preguntas{
        display: flex;
        flex-direction: column;
        padding: 8px;
        .preguntas-1, .preguntas-2{
            width: 100%;
            margin-bottom: 0;
            padding-left: 0;
            .accordion-body{
                font-size: 16px;
                text-align: justify;
            }
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    .lista-preguntas{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        .preguntas-1, .preguntas-2{
            width: 100%;
            margin-bottom: 0;
            padding-left: 0;
            .accordion-body{
                font-size: 16px;
                text-align: justify;
                padding: 16px 0 16px 16px;
            }
        }
    }
}