@use "variables" as v;

.lista-preguntas {
    background-color: v.$background-primario;
    display: flex;
    padding: 20px 35px 5px 0;
    border-radius: 10px;
}
.collapse{
    height: auto;
}
.accordion-item{
    border: 0;
    background-color: v.$background-primario;
}
.accordion-body{
    background-color: v.$background-primario;
    color: v.$color-primario;
}
.accordion-button{
    background-color: v.$background-primario;
    color: v.$color-primario;
    border-radius: 5px;
}.accordion-button:after{
    background-color: v.$background-primario;
    color: antiquewhite;
}.accordion-button:not(.collapsed){
    background-color: v.$background-primario;
    color: v.$color-primario;
    font-size: 20px;
}

.preguntas-1{
    width: calc(100%/2);
}
.preguntas-2{
    width: calc(100%/2)
}
main section article div ul {
    list-style: none;
}
.titulo-seccion{
    font-size: 38px;
    background-image: v.$gradient-1;
    -webkit-box-shadow: 0px 0px 53px 0px rgba(70, 0, 165, 1);
    -moz-box-shadow: 0px 0px 53px 0px rgba(70, 0, 165, 1);
    box-shadow: 0px 0px 53px 0px rgba(70, 0, 165, 1);
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}
@media (min-width: 320px) and (max-width: 430px){
    .lista-preguntas{
        display: flex;
        flex-direction: column;
        padding: 8px;
        .preguntas-1, .preguntas-2{
            width: 100%;
            margin-bottom: 0;
            padding-left: 0;
            .accordion-body{
                font-size: 16px;
                text-align: justify;
            }
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    .lista-preguntas{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        .preguntas-1, .preguntas-2{
            width: 100%;
            margin-bottom: 0;
            padding-left: 0;
            .accordion-body{
                font-size: 16px;
                text-align: justify;
                padding: 16px 0 16px 16px;
            }
        }
    }
}