@use "variables" as v;

.lista-preguntas {
    background-color: v.$background-primario;
    display: flex;
    padding: 0 35px 5px 0;
    border-radius: 10px;
}
.collapse{
    height: auto;
}
.accordion-item{
    border: 0;
}
.preguntas-1{
    width: calc(100%/2);
}
.preguntas-2{
    width: calc(100%/2)
}
main section article div ul {
    list-style: none;
}
.titulo-seccion{
    font-size: 38px;
    background-color: v.$background-primario;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}