@use "variables" as v;

main h1{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #666666;
    margin-bottom: 20px;
}
main {
    background-color: #bfbfbf;
    color: white;
    text-align: center;
    padding: 20px;
}
.titulo-seccion{
    font-size: 38px;
    background-color: #0085C1;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}
.imagen-nosotros img{
    height: 300px;
    width: 450px;
    margin: 20px;
}
.nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #0085C1;
    border-radius: 15px;
    padding: 10px;
    color: #e7e7e7;
    font-size: 20px;
}
.parrafo-nosotros1{
    grid-column: 1/2;
    grid-row: 1/3;
    align-content: center;
}
.video-nosotros{
    grid-column: 2/4;
    grid-row: 1/3;
    align-content: center;
    border-radius: 8px;
}
.video-nosotros iframe {
    border-radius: 30px;
    border: 0;
}
.imagen-nosotros{
    grid-column: 1/3;
    grid-row: 3/4;
    align-content: center;
}
.imagen1-nosotros{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 60%;
    height: auto;
    align-content: center;
    border-radius: 8px;
}
.imagen2-nosotros{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 60%;
    height: auto;
    align-content: center;
    border-radius: 8px;
}
.parrafo-nosotros2{
    grid-column: 3/4;
    grid-row: 3/4;
    align-content: center;
}