@use "variables" as v;

.articulos-tienda{
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.item-tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
.titulo-seccion{
    font-size: 38px;
    background-color: v.$background-primario;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}
.titulo-seccion {
        font-size: 15px;
    }

@media (min-width: 320px) and (max-width: 430px){
    .item-tienda{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carta-tienda{
        height: 270px;
        width: auto;
        height: fit-content;
        align-items: end;
        h2{
            text-transform: uppercase;
        }
        input{
            border-radius: 10px 10px !important;
            padding: 10px 15px;
            margin-bottom: 10px;
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    .articulos-tienda{
        padding: 30px 0;
    }
    .item-tienda{
        column-gap: 20px;
        display: flex;
        flex-wrap: wrap;
        .carta-tienda{
            height: 270px;
            width: 30%;
            height: fit-content;
            align-items: end;
            input{
                border-radius: 10px 10px !important;
                padding: 10px 15px;
                margin-bottom: 10px;
            }
        }
    }
}