@use "variables" as v;

.articulos-tienda{
    margin-bottom: 30px;
}
.item-tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
.titulo-seccion{
    font-size: 38px;
    background-color: #0085C1;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}
.titulo-seccion {
        font-size: 15px;
    }