@use "variables" as v;

.articulos-tienda{
    margin-bottom: 30px;
}
.item-tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
.titulo-seccion{
    font-size: 38px;
    background-color: v.$background-primario;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}
.titulo-seccion {
        font-size: 15px;
    }

@media (min-width: 320px) and (max-width: 430px){
    .item-tienda{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .carta{
            height: 270px;
        }
    }
    .carta-tienda{
        width: auto;
        height: fit-content;
        input{
            border-radius: 10px 10px !important;
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    .item-tienda{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .carta{
            height: auto;
        }
    }
    .carta-tienda{
        width: auto;
        height: fit-content;
        input{
            border-radius: 10px 10px !important;
        }
    }
}