@use "variables" as v;

.articulos-tienda{
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.item-tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    .carta-tienda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
        color: v.$color-secundario;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        margin: auto;
        margin-top: 5px;
        padding: 5px 5px 15px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        height: 40px;
        }
        input{
            text-decoration: none;
            padding: 7.8px 30px;
            margin: 10px;
            font-size: 18px;
            background-image: v.$gradient-2;
            color: v.$color-primario;
            border: 0;
            border-radius: 10px;
            transition: ease-in-out .3s;
        }input:hover{
            transform: scale(1.1);
            }
        }
        .carta-tienda:hover{
            box-shadow: 0 0 10px 10px v.$color-primario;
        }
    }
.titulo-seccion{
    font-size: 38px;
    background-color: v.$background-primario;
    border-radius: 8px;
    margin: 20px 35%;
    padding: 5px 0;
}

@media (min-width: 320px) and (max-width: 430px){
    .item-tienda{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carta-tienda{
        height: 270px;
        width: auto;
        height: fit-content;
        align-items: end;
        h2{
            text-transform: uppercase;
        }
        input{
            border-radius: 10px 10px !important;
            padding: 10px 15px;
            margin-bottom: 10px;
        }
    }
}
@media (min-width: 431px) and (max-width: 800px){
    .articulos-tienda{
        padding: 30px 0;
    }
    .item-tienda{
        column-gap: 20px;
        display: flex;
        flex-wrap: wrap;
        .carta-tienda{
            height: 300px;
            width: 40%;
            height: auto;
            align-items: center;
            input{
                border-radius: 10px 10px !important;
                padding: 10px 15px;
                margin-bottom: 10px;
            }
        }
    }
}