/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$fuente: "Roboto Flex", sans-serif;
$background-primario: #00064D;
$background-secundario: #040404;
$background-terciario: #8a7969;
$color-primario: #fff;
$color-secundario: #202020;
$color-terciario: #0214DB;
$gradient-1: linear-gradient(to bottom, #0214db, #0013bf, #0011a3, #000e88, #000b6e, #000b6e, #000b6e, #000b6e, #000e88, #0011a3, #0013bf, #0214db);
$gradient-2: linear-gradient(to bottom, #0214db, #0013bf, #0011a3, #000e88, #000b6e, #000b6e, #000b6e, #000b6e, #000e88, #0011a3, #0013bf, #0214db);

*{
    font-family: $fuente;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin-bottom: 0;
}

//extends


//mixins