/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$fuente: "Roboto Flex", sans-serif;
$background-primario: #22bc8e;
$background-secundario: #dbdbdb;
$background-terciario: #8a7969;
$color-primario: #fff;
$color-secundario: #202020;

*{
    font-family: $fuente;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin-bottom: 0;
}

//extends


//mixins