/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0;
}

header {
  font-family: "Roboto Flex", sans-serif;
  display: flex;
  background-color: #22bc8e;
  color: #fff;
}
header .header1 {
  width: 85%;
}
header .header2 {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
}
header .header2 nav ul {
  list-style: none;
  text-align: center;
}
header .header2 .contenedor-redes li {
  display: inline;
  list-style: none;
}
header .header2 .contenedor-redes ul {
  margin: 0;
  padding: 0;
}

.dropdown-item {
  font-size: 28px;
  color: #fff;
}

.dropdown-item:hover {
  font-size: 30px;
  color: #202020;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.navbar-nav .dropdown-menu {
  background-color: #22bc8e;
  border: 0;
}

.container-fluid {
  height: 90px;
  width: 100%;
  padding-left: 50px;
}
.container-fluid .logo-header {
  height: 130px;
  width: auto;
  padding-top: 15px;
}
.container-fluid .logo-header:hover {
  transform: scale(1.2);
}

.collapse {
  font-size: 20px;
  height: 50px;
  margin-right: 15px;
}

.navbar {
  background-color: #22bc8e !important;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  color: #e7e7e7;
  border-bottom: 2px solid #bfbfbf;
  height: 44px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: #e7e7e7;
  border-radius: 6px 6px 0 0;
}

.nav-link:hover {
  background-color: #bfbfbf;
  color: #22bc8e;
}

.nav-link:focus {
  background-color: #e7e7e7;
  color: #202020;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #333;
}

.d-flex {
  border-radius: 10px;
  padding: 0;
  margin: 0;
}
.d-flex .btn {
  color: #dbdbdb;
  background-color: #22bc8e;
  border: 2px solid #dbdbdb;
  font-weight: bold;
}
.d-flex .btn:hover {
  color: #202020;
  background-color: #dbdbdb;
  transform: scale(1.1);
  border-color: #86b7fe;
}

.contenedor-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.redes {
  height: auto;
  width: 29px;
}

.redes:hover {
  transform: scale(1.2);
}

input {
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px;
  border: 0;
  outline: none;
}

header nav ul li {
  margin: 25px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

header ul li a {
  margin: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.link-menu:hover {
  color: #22bc8e;
  background-color: #e7e7e7;
  border-radius: 8px;
  padding: 8px;
  transform: scale(2);
}

@media (min-width: 320px) and (max-width: 430px) {
  header {
    display: flex;
    background-color: #22bc8e;
    position: relative;
  }
  header .form-control {
    display: none;
  }
  header .btn {
    display: none;
  }
  header .navbar-toggler {
    position: absolute;
  }
  header nav ul li {
    margin: 0;
  }
  .header1 {
    margin: auto;
  }
  .header2 {
    display: none !important;
  }
  .navbar .container-fluid {
    flex-wrap: unset;
    padding-left: 0;
  }
  .navbar .container-fluid .logo-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar .container-fluid .logo-header .logo-header:hover {
    transform: scale(1);
  }
  .navbar-nav {
    margin-top: 50px;
    background-color: #22bc8e;
    height: auto;
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    align-items: unset;
  }
  .nav-link {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    padding: 0 100px;
  }
  .contenedor-redes {
    display: none;
  }
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-header {
    grid-area: 3;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  header {
    display: flex;
    background-color: #22bc8e;
    position: relative;
  }
  header .form-control {
    display: none;
  }
  header .btn {
    display: none;
  }
  header .navbar-toggler {
    position: absolute;
  }
  header nav ul li {
    margin: 0;
  }
  .header1 {
    margin: auto;
  }
  .header2 {
    display: none !important;
  }
  .navbar .container-fluid {
    flex-wrap: unset;
    padding-left: 0;
  }
  .navbar .container-fluid .logo-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar .container-fluid .logo-header .logo-header:hover {
    transform: scale(1);
  }
  .navbar-nav {
    margin-top: 50px;
    background-color: #22bc8e;
    height: auto;
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    align-items: unset;
  }
  .nav-link {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    padding: 0 100px;
  }
  .contenedor-redes {
    display: none;
  }
  .logo-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo-header:hover {
    transform: scale(1);
  }
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contenedor-destacados {
  width: 100%;
}
.contenedor-destacados .carta {
  background-color: #fff;
  width: 20%;
  height: auto;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 5px 5px 10px 2px #666666;
}
.contenedor-destacados .carta img {
  width: 85%;
  height: 65%;
  object-fit: contain;
  border-bottom: solid 2px #202020;
  transition: ease-in-out 0.3s;
}
.contenedor-destacados .carta img:hover {
  transform: scale(1.1);
}
.contenedor-destacados .carta a {
  color: #fff;
  text-decoration: none;
}
.contenedor-destacados .carta a h2 {
  color: #202020;
  padding: 15px 0 15px 0;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 0;
}
.contenedor-destacados .carta input {
  text-decoration: none;
  padding: 7.8px 25px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #22bc8e;
  color: #fff;
  border: 0;
  border-radius: 10px;
}
.contenedor-destacados .carta input:hover {
  transform: scale(1.1);
}

main {
  background-color: #dbdbdb;
  color: #fff;
  text-align: center;
  padding: 20px;
}
main h1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #666666;
  margin-bottom: 20px;
}

.titulo-seccion {
  font-size: 38px;
  background-color: #22bc8e;
  border-radius: 8px;
  margin: 20px 35%;
  padding: 5px 0;
}

.carousel, .slide {
  width: 90%;
  margin: auto;
}

.producto-destacado {
  display: flex;
  margin: 20px;
}

@media (min-width: 320px) and (max-width: 430px) {
  main .carta {
    width: auto !important;
  }
  main .carta a h2 {
    text-transform: capitalize;
  }
  main h1 {
    font-size: 25px !important;
  }
  main .titulo-seccion {
    font-size: 18px !important;
  }
  main input {
    border-radius: 0 0 10px 10px !important;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  main input {
    border-radius: 0 0 10px 10px !important;
  }
  main .carta {
    width: auto !important;
  }
  main .carta a h2 {
    text-transform: capitalize;
  }
  main h1 {
    font-size: 25px !important;
  }
  main .titulo-seccion {
    font-size: 18px !important;
  }
}
footer {
  text-align: center;
  background-color: #22bc8e;
  color: #fff;
}
footer section .boletin-footer {
  background-color: #fff;
  color: #22bc8e;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
footer section .boletin-footer .boton-boletin {
  font-size: 12px;
  margin-right: 12px;
}
footer section h2 {
  margin-top: 12px;
}
footer section h3 {
  font-size: 12px;
  margin-left: 12px;
}
footer section input {
  padding-right: 0;
}

footer ul li {
  list-style: none;
  display: inline;
}

footer ul li a {
  margin: 8px;
  text-decoration: none;
}

footer input {
  border: 1px solid #333;
}

.boton-boletin {
  text-decoration: none;
  padding: 7.8px 25px;
  font-size: 18px;
  position: relative;
  background-color: #22bc8e;
  color: #fff;
  border: 0;
  border-radius: 10px;
}

.boton-boletin:hover {
  transform: scale(1.1);
}

.redes-footer {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 15px;
}

.derechos h3 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  position: absolute;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 0;
}

.img-footer {
  height: 250px;
  width: auto;
}

.boton-whatsapp {
  width: 70px;
  height: auto;
  position: fixed;
  right: 40px;
  bottom: 80px;
  transition: ease-in-out 0.3s;
}

.boton-whatsapp:hover {
  transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 430px) {
  .img-footer {
    width: 60%;
    height: auto;
  }
  .derechos h3 {
    width: 100%;
    margin: 20px 0 10px 0;
    font-size: 12px;
    text-align: center;
  }
  .boton-whatsapp {
    position: fixed;
    width: 50px;
    height: auto;
    left: 5vh;
    bottom: 5vh;
  }
  .redes-footer {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .boletin-footer h3 {
    font-size: 18px;
  }
  .redes-footer {
    display: flex;
    justify-content: center;
  }
  .img-footer {
    width: 60%;
    height: auto;
  }
  .derechos h3 {
    width: 100%;
    margin: 20px 0 10px 0;
    font-size: 14px;
    text-align: center;
  }
  .boton-whatsapp {
    position: fixed;
    width: 50px;
    height: auto;
    left: 5vh;
    bottom: 5vh;
  }
}
.articulos-tienda {
  margin-bottom: 30px;
}

.item-tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}

.titulo-seccion {
  font-size: 38px;
  background-color: #22bc8e;
  border-radius: 8px;
  margin: 20px 35%;
  padding: 5px 0;
}

.titulo-seccion {
  font-size: 15px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .item-tienda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .item-tienda .carta {
    height: 270px;
  }
  .carta-tienda {
    width: auto;
    height: fit-content;
  }
  .carta-tienda input {
    border-radius: 10px 10px !important;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .item-tienda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .item-tienda .carta {
    height: auto;
  }
  .carta-tienda {
    width: auto;
    height: fit-content;
  }
  .carta-tienda input {
    border-radius: 10px 10px !important;
  }
}
main h1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #666666;
  margin-bottom: 20px;
}

main {
  background-color: #dbdbdb;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.titulo-seccion {
  font-size: 38px;
  background-color: #22bc8e;
  border-radius: 8px;
  margin: 20px 35%;
  padding: 5px 0;
}

.imagen-nosotros img {
  height: 300px;
  width: 450px;
  margin: 20px;
}

.nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #22bc8e;
  border-radius: 15px;
  padding: 10px;
  color: #dbdbdb;
  font-size: 20px;
}

.parrafo-nosotros1 {
  grid-column: 1/2;
  grid-row: 1/3;
  align-content: center;
}

.video-nosotros {
  grid-column: 2/4;
  grid-row: 1/3;
  align-content: center;
  border-radius: 8px;
}

.video-nosotros iframe {
  border-radius: 30px;
  border: 0;
}

.imagen-nosotros {
  grid-column: 1/3;
  grid-row: 3/4;
  align-content: center;
}

.imagen1-nosotros {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 60%;
  height: auto;
  align-content: center;
  border-radius: 8px;
}

.imagen2-nosotros {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 60%;
  height: auto;
  align-content: center;
  border-radius: 8px;
}

.parrafo-nosotros2 {
  grid-column: 3/4;
  grid-row: 3/4;
  align-content: center;
}

@media (min-width: 320px) and (max-width: 430px) {
  .nosotros {
    display: flex;
    flex-direction: column;
  }
  .nosotros p {
    font-size: 12px;
    text-align: justify;
    padding: 10px;
  }
  .video-nosotros {
    display: none;
  }
  .imagen-nosotros img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .nosotros {
    display: flex;
    flex-direction: column;
  }
  .nosotros p {
    font-size: 15px;
    text-align: justify;
    padding: 15px;
    color: #fff;
  }
  .video-nosotros {
    display: none;
  }
  .imagen-nosotros img {
    width: 90%;
    height: auto;
    margin: 10px 0;
  }
}
.pagina-producto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  padding: 50px 0 50px 0;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 2px #666666;
  margin-bottom: 25px;
  color: #202020;
}
.pagina-producto ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pagina-producto .p1 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: start;
}
.pagina-producto .p1 .precio-articulo {
  display: flex;
  margin: 20px 50px 40px 0;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 2px solid #202020;
}
.pagina-producto .p1 h1 {
  color: #202020;
}
.pagina-producto .p1 h2 {
  color: #22bc8e;
  margin-right: 50px;
}
.pagina-producto .p2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.pagina-producto .p2 .imagen-producto {
  display: grid;
  grid-template-areas: "a a a" "a a a" "a a a" "b c d";
}
.pagina-producto .p2 .imagen-producto .hd1 {
  grid-area: a;
}
.pagina-producto .p2 .imagen-producto .hd2 {
  grid-area: b;
}
.pagina-producto .p2 .imagen-producto .hd3 {
  grid-area: c;
}
.pagina-producto .p2 .imagen-producto .hd4 {
  grid-area: d;
}

@media (min-width: 320px) and (max-width: 430px) {
  .pagina-producto {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
  }
  .pagina-producto .p1 .precio-articulo {
    margin: auto;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
  }
  .pagina-producto .p1 .precio-articulo input {
    border-radius: 10px !important;
  }
  .pagina-producto .p1 h1 {
    text-align: center;
    margin-top: 20px;
  }
  .pagina-producto .p1 p {
    text-align: justify;
    padding: 10px 15px;
  }
  .pagina-producto .p1 section ul {
    padding: 0;
  }
  .pagina-producto .p2 .imagen-producto img {
    max-width: 90%;
    margin: auto;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .pagina-producto {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
  }
  .pagina-producto .p1 .precio-articulo {
    margin: auto;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
  }
  .pagina-producto .p1 .precio-articulo input {
    border-radius: 10px !important;
  }
  .pagina-producto .p1 h1 {
    text-align: center;
    margin-top: 20px;
  }
  .pagina-producto .p1 p {
    text-align: justify;
    padding: 10px 15px;
  }
  .pagina-producto .p1 section ul {
    padding: 0;
  }
  .pagina-producto .p2 .imagen-producto img {
    max-width: 90%;
    margin: auto;
  }
}
.titulo-seccion {
  font-size: 38px;
  background-color: #22bc8e;
  border-radius: 8px;
  margin: 20px 35%;
  padding: 5px 0;
}

.carousel, .slide {
  width: 90%;
  margin: auto;
}

.producto-destacado {
  display: flex;
  margin: 20px;
}

.carta {
  background-color: #fff;
  width: 20%;
  height: auto;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 5px 5px 10px 2px #666666;
}

.carta img {
  width: 85%;
  height: 65%;
  object-fit: contain;
  border-bottom: solid 2px #202020;
  transition: ease-in-out 0.3s;
}

.carta img:hover {
  transform: scale(1.1);
}

.carta a {
  color: #202020;
  text-decoration: none;
}

.carta a h2 {
  padding: 15px 0 15px 0;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

.carta input {
  text-decoration: none;
  padding: 7.8px 25px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #22bc8e;
  color: #fff;
  border: 0;
  border-radius: 10px;
}

.carta input:hover {
  transform: scale(1.1);
}

.carta-tienda {
  width: 16.6666666667%;
}

.carta a h2 {
  margin-top: 0;
}

.contenedor-destacados {
  width: 100%;
}

form {
  background-color: #22bc8e;
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 35px;
}
form input {
  display: grid;
  width: 100%;
}
form textarea {
  width: 100%;
  height: 79%;
  border-radius: 5px;
  border: none;
  padding-top: 10px;
  padding-left: 10px;
}

.formulario {
  display: grid;
  grid-template-areas: "a a b b b" "c c b b b" "d d b b b" "e e b b b" "f f b b b";
  margin-left: 6%;
  margin-right: 6%;
}
.formulario .a {
  grid-area: a;
  padding: 10px;
}
.formulario .b {
  grid-area: b;
  padding: 10px;
}
.formulario .b .boton-enviar {
  text-decoration: none;
  padding: 7.8px 25px;
  font-size: 18px;
  background-color: #fff;
  color: #22bc8e;
  border: 0;
  border-radius: 10px;
  margin-top: 15px;
}
.formulario .b :hover {
  background-color: #202020;
  color: #22bc8e;
}
.formulario .c {
  grid-area: c;
  padding: 10px;
}
.formulario .d {
  grid-area: d;
  padding: 10px;
}
.formulario .e {
  grid-area: e;
  padding: 10px;
}
.formulario .f {
  grid-area: f;
  padding: 10px;
}

.titulo-seccion {
  font-size: 38px;
  background-color: #22bc8e;
  border-radius: 8px;
  margin: 20px 35%;
  padding: 5px 0;
}

.ubicacion {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .formulario {
    display: grid;
    margin: auto;
    padding: 2px 2px 40px 2px;
    grid-template-areas: "a a c c" "d d e e" "b b b b" "b b b b";
  }
  .a {
    grid-area: a;
    padding: 5px;
  }
  .a input {
    border-radius: 5px !important;
  }
  .b {
    grid-area: b;
    padding: 5px;
  }
  .b input {
    border-radius: 5px !important;
  }
  .c {
    grid-area: c;
    padding: 5px;
  }
  .c input {
    border-radius: 5px !important;
  }
  .d {
    grid-area: d;
    padding: 5px;
  }
  .d input {
    border-radius: 5px !important;
  }
  .e {
    grid-area: e;
    padding: 5px;
  }
  .e input {
    border-radius: 5px !important;
  }
  .f {
    display: none;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .formulario {
    display: grid;
    margin: auto;
    padding: 2px 2px 40px 2px;
    grid-template-areas: "a a c c" "d d e e" "b b b b" "b b b b";
  }
  .a {
    grid-area: a;
    padding: 5px;
  }
  .a input {
    border-radius: 5px !important;
  }
  .b {
    grid-area: b;
    padding: 5px;
  }
  .b input {
    border-radius: 5px !important;
  }
  .c {
    grid-area: c;
    padding: 5px;
  }
  .c input {
    border-radius: 5px !important;
  }
  .d {
    grid-area: d;
    padding: 5px;
  }
  .d input {
    border-radius: 5px !important;
  }
  .e {
    grid-area: e;
    padding: 5px;
  }
  .e input {
    border-radius: 5px !important;
  }
  .f {
    display: none;
  }
}
.lista-preguntas {
  background-color: #22bc8e;
  display: flex;
  padding: 20px 35px 5px 0;
  border-radius: 10px;
}

.collapse {
  height: auto;
}

.accordion-item {
  border: 0;
  background-color: #22bc8e;
}

.accordion-body {
  background-color: #22bc8e;
  color: #fff;
}

.accordion-button {
  background-color: #22bc8e;
  color: #fff;
  border-radius: 5px;
}

.accordion-button:after {
  background-color: #22bc8e;
  color: antiquewhite;
}

.accordion-button:not(.collapsed) {
  background-color: #22bc8e;
  color: #fff;
  font-size: 20px;
}

.preguntas-1 {
  width: 50%;
}

.preguntas-2 {
  width: 50%;
}

main section article div ul {
  list-style: none;
}

.titulo-seccion {
  font-size: 38px;
  background-color: #22bc8e;
  border-radius: 8px;
  margin: 20px 35%;
  padding: 5px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .lista-preguntas {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  .lista-preguntas .preguntas-1, .lista-preguntas .preguntas-2 {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .lista-preguntas .preguntas-1 .accordion-body, .lista-preguntas .preguntas-2 .accordion-body {
    font-size: 16px;
    text-align: justify;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .lista-preguntas {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  .lista-preguntas .preguntas-1, .lista-preguntas .preguntas-2 {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .lista-preguntas .preguntas-1 .accordion-body, .lista-preguntas .preguntas-2 .accordion-body {
    font-size: 16px;
    text-align: justify;
    padding: 16px 0 16px 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
